<div class="pagetitle">
    <h1>Users</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Users</li>
        </ol>
    </nav>
</div>

<div class="col-lg-12">

    <div class="col-lg-12">
        <div class="text-end mb-3"> <!-- Utilisez la classe "text-end" pour aligner le contenu à droite -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#ajouterUtilisateurModal">
                Ajouter utilisateur
            </button>
        </div>

        <!-- Modèle d'ajout d'utilisateur -->
        <div class="modal fade" id="ajouterUtilisateurModal" tabindex="-1"
            aria-labelledby="ajouterUtilisateurModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ajouterUtilisateurModalLabel">Ajouter un utilisateur</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulaire d'ajout d'utilisateur -->
                        <form id="ajouterUtilisateurForm">
                            <!-- Les champs du formulaire ici -->
                            <!-- Exemple : -->
                            <div class="mb-3">
                                <label for="nomUtilisateur" class="form-label">Name
                                    :</label>
                                <input type="text" class="form-control" id="nomUtilisateur" name="nomUtilisateur"
                                    [(ngModel)]="nomUtilisateur">
                            </div>
                            <div class="mb-3">
                                <label for="emailUtilisateur" class="form-label">Email
                                    :</label>
                                <input type="email" class="form-control" id="emailUtilisateur" name="emailUtilisateur"
                                    [(ngModel)]="emailUtilisateur">
                            </div>
                            <div class="mb-3">
                                <label for="passwordUtilisateur" class="form-label">Password :</label>
                                <input type="password" class="form-control" id="passwordUtilisateur"
                                    [(ngModel)]="passwordUtilisateur" name="passwordUtilisateur">
                            </div>

                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirm
                                    Password :</label>
                                <input type="password" class="form-control" id="confirmPassword"
                                    [(ngModel)]="confirmPassword" name="confirmPassword">
                            </div>
                            <!-- Fin des champs du formulaire -->
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-primary" (click)="addUser()">Ajouter</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-body">

                <!-- Table with stripped rows -->
                <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                    <div class="datatable-top">
                        <div class="datatable-dropdown">
                            <label>
                                <select class="datatable-selector">
                                    <option value="5">5</option>
                                    <option value="10" selected="">10</option>
                                    <option value="15">15</option>
                                    <option value="-1">All</option>
                                </select> entries per page
                            </label>
                        </div>
                        <div class="datatable-search">
                            <input class="datatable-input" placeholder="Search..." type="search"
                                title="Search within table">
                        </div>
                    </div>
                    <div class="datatable-container">
                        <table class="table datatable datatable-table">
                            <thead>
                                <tr>

                                    <th data-sortable="true" style="width: 1%;"><button class="datatable-sorter">
                                            <b>#</b>
                                        </button></th>
                                    <th data-sortable="true" style="width: 15%;"><button
                                            class="datatable-sorter">Name</button></th>
                                    <th data-sortable="true" style="width: 28.49462365591398%;"><button
                                            class="datatable-sorter">EMAIL</button></th>

                                    <th data-sortable="true" class="red" style="width: 1%;"><button
                                            class="datatable-sorter">Action</button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-index="0" *ngFor="let user of userList">
                                    <td>{{user.id}}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>
                                        <div class="btn-group btn-group-sm d-flex" role="group" aria-label="Actions">

                                            <button type="button" class="btn btn-info"><i class="bi bi-pencil-square"
                                                    (click)="updateUser(user)"></i></button>
                                            <span style="margin: 0 5px;"></span>
                                            <button type="button" class="btn btn-danger"><i class="ri-delete-bin-line"
                                                    (click)="deleteUser(user)"></i></button>
                                        </div>
                                    </td>
                                </tr>


                            </tbody>
                        </table>


                    </div>
                    <div class="datatable-bottom">
                        <div class="datatable-info">Showing 1 to 5 of 100 entries</div>
                        <nav class="datatable-pagination">
                            <ul class="datatable-pagination-list">
                                <li class="datatable-pagination-list-item datatable-hidden datatable-disabled"><button
                                        data-page="1" class="datatable-pagination-list-item-link"
                                        aria-label="Page 1">‹</button></li>
                                <li class="datatable-pagination-list-item datatable-active"><button data-page="1"
                                        class="datatable-pagination-list-item-link" aria-label="Page 1">1</button></li>
                                <li class="datatable-pagination-list-item"><button data-page="2"
                                        class="datatable-pagination-list-item-link" aria-label="Page 2">2</button></li>
                                <li class="datatable-pagination-list-item"><button data-page="3"
                                        class="datatable-pagination-list-item-link" aria-label="Page 3">3</button></li>
                                <li class="datatable-pagination-list-item"><button data-page="4"
                                        class="datatable-pagination-list-item-link" aria-label="Page 4">4</button></li>
                                <li class="datatable-pagination-list-item"><button data-page="5"
                                        class="datatable-pagination-list-item-link" aria-label="Page 5">5</button></li>
                                <li class="datatable-pagination-list-item"><button data-page="6"
                                        class="datatable-pagination-list-item-link" aria-label="Page 6">6</button></li>
                                <li class="datatable-pagination-list-item"><button data-page="7"
                                        class="datatable-pagination-list-item-link" aria-label="Page 7">7</button></li>
                                <li class="datatable-pagination-list-item datatable-ellipsis datatable-disabled"><button
                                        class="datatable-pagination-list-item-link">…</button></li>
                                <li class="datatable-pagination-list-item"><button data-page="20"
                                        class="datatable-pagination-list-item-link" aria-label="Page 20">20</button>
                                </li>
                                <li class="datatable-pagination-list-item"><button data-page="2"
                                        class="datatable-pagination-list-item-link" aria-label="Page 2">›</button></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End Table with stripped rows -->

            </div>
        </div>

    </div>