<div class="pagetitle">
    <h1>Scooter List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Scooter</li>
            <li class="breadcrumb-item active">Scooter-List</li>
        </ol>
    </nav>
</div>
<div class="col-lg-12">

    <div class="text-end mb-3"> <!-- Utilisez la classe "text-end" pour aligner le contenu à droite -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#ajouterScooterModal">
            Ajouter Scooter
        </button>
    </div>

      <!-- Modèle d'ajout d'Scooter -->
      <div class="modal fade" id="ajouterScooterModal" tabindex="-1"
      aria-labelledby="ajouterScooterModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="ajouterScooterModalLabel">Ajouter Une Scooter</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
              </div>
              <div class="modal-body">
                  <!-- Formulaire d'ajout d'Scooter -->
                  <form [formGroup]="ajouterScooterForm">
                      <!-- Les champs du formulaire ici -->
                      
                      <div class="mb-3">
                        <label for="areaScooter" class="form-label">Area :</label>
                        <input type="text" class="form-control" id="areaScooter" formControlName="areaScooter" required>
                      </div>
                      <div class="mb-3">
                        <label for="numScooter" class="form-label">Number :</label>
                        <input type="number" class="form-control" id="numScooter" formControlName="numScooter" required>
                      </div>
                      <div class="mb-3">
                        <label for="uidScooter" class="form-label">UID(IMEI) :</label>
                        <input type="text" class="form-control" id="uidScooter" formControlName="uidScooter"required>
                      </div>
                      <div class="mb-3">
                        <label for="modelScooter" class="form-label">Scooter Model</label>
                        <input type="text" class="form-control" id="modelScooter" formControlName="modelScooter" required>
                      </div>
                      <div class="mb-3">
                        <label for="currentZone" class="form-label">Current Zone</label>
                        <input type="text" class="form-control" id="currentZone" formControlName="currentZone"required>
                      </div>
                      <div class="mb-3">
                        <label for="statusScooter" class="form-label">Status</label>
                        <input type="text" class="form-control" id="statusScooter" formControlName="statusScooter" required>
                      </div>
                      <div class="mb-3">
                        <label for="batteryScooter" class="form-label">Battery</label>
                        <input type="number" class="form-control" id="batteryScooter" formControlName="batteryScooter" required>
                      </div>
                      <!-- Fin des champs du formulaire -->
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                  <button type="button" class="btn btn-primary" (click)="addScooter()" >Ajouter</button>
              </div>
          </div>
      </div>
  </div>


    <div class="card">

        <div class="card-body">

            <!-- Table with stripped rows -->
            <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                <div class="datatable-top">
                    <div class="datatable-dropdown">
                        <label>
                            <select class="datatable-selector">
                                <option value="5">5</option>
                                <option value="10" selected="">10</option>
                                <option value="15">15</option>
                                <option value="-1">All</option>
                            </select> entries per page
                        </label>
                    </div>
                    <div class="datatable-search">
                        <input class="datatable-input" placeholder="Search..." type="search"
                            title="Search within table"  [(ngModel)]="searchQuery" (input)="filterScooter()">
                    </div>
                </div>
                <div class="datatable-container">
                    <table class="table datatable datatable-table">
                        <thead>
                            <tr>

                                <th>ID</th>
                                <th>Area Scooter</th>
                                <th>Number Scooter</th>
                                <th>UID Scooter</th>
                                <th>Model Scooter</th>
                                <th>Current Zone</th>
                                <th>Status Scooter</th>
                                <th>Battery Scooter</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-index="0" *ngFor="let item of scooters">
                                <td>{{item.id}}</td>
                                <td>{{item.areaScooter}}</td>
                                <td>{{item.numScooter}}</td>
                                <td>{{item.uidScooter}}</td>
                                <td>{{item.modelScooter}}</td>
                                <td>{{item.currentZone}}</td>
                                <td>{{item.statusScooter}}</td>
                                <td>{{item.batteryScooter}}%</td>
                                <td>
                                    <div class="btn-group btn-group-sm d-flex" role="group" aria-label="Actions">

                                        <button type="button" class="btn btn-info"><i
                                                class="bi bi-pencil-square"></i></button>
                                        <span style="margin: 0 5px;"></span>
                                        <button type="button" class="btn btn-danger"><i
                                              class="ri-delete-bin-line"  (click)="deleteScooter(item)"></i></button>
                                    </div>
                                </td>
                            </tr>
                           
                            

                        </tbody>
                    </table>
                </div>
                <div class="datatable-bottom">
                    <div class="datatable-info">Showing 1 to 5 of 100 entries</div>
                    <nav class="datatable-pagination">
                        <ul class="datatable-pagination-list">
                            <li class="datatable-pagination-list-item datatable-hidden datatable-disabled"><button
                                    data-page="1" class="datatable-pagination-list-item-link"
                                    aria-label="Page 1">‹</button></li>
                            <li class="datatable-pagination-list-item datatable-active"><button data-page="1"
                                    class="datatable-pagination-list-item-link" aria-label="Page 1">1</button></li>
                            <li class="datatable-pagination-list-item"><button data-page="2"
                                    class="datatable-pagination-list-item-link" aria-label="Page 2">2</button></li>
                            <li class="datatable-pagination-list-item"><button data-page="3"
                                    class="datatable-pagination-list-item-link" aria-label="Page 3">3</button></li>
                            <li class="datatable-pagination-list-item"><button data-page="4"
                                    class="datatable-pagination-list-item-link" aria-label="Page 4">4</button></li>
                            <li class="datatable-pagination-list-item"><button data-page="5"
                                    class="datatable-pagination-list-item-link" aria-label="Page 5">5</button></li>
                            <li class="datatable-pagination-list-item"><button data-page="6"
                                    class="datatable-pagination-list-item-link" aria-label="Page 6">6</button></li>
                            <li class="datatable-pagination-list-item"><button data-page="7"
                                    class="datatable-pagination-list-item-link" aria-label="Page 7">7</button></li>
                            <li class="datatable-pagination-list-item datatable-ellipsis datatable-disabled"><button
                                    class="datatable-pagination-list-item-link">…</button></li>
                            <li class="datatable-pagination-list-item"><button data-page="20"
                                    class="datatable-pagination-list-item-link" aria-label="Page 20">20</button></li>
                            <li class="datatable-pagination-list-item"><button data-page="2"
                                    class="datatable-pagination-list-item-link" aria-label="Page 2">›</button></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- End Table with stripped rows -->

        </div>
    </div>

</div>